:root {
    --white-color: #fff;
    --red-color: rgb(212, 2, 2);
    --purple-color: #87509c;
    --yellow-color: #eb7d4b;
    --header-hover: #643a79;
    --services-bcg: #17c2a4;
    --team-text: #3c4761;
}

