.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 57px 0;
    background-color: var(--purple-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 24px 0;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    z-index: 100;
    border-bottom: 3px solid transparent;
}

.header__logo:hover {
    border-bottom: 3px solid var(--yellow-color);
    transition: border-color 300ms;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__link {
    padding: 8px 17px;
    font-size: 16px;
}

.header__link:hover {
    color: var(--yellow-color);
    background-color: var(--header-hover);
    transition: all 200ms;
}

.burger {
    position: relative;
    display: none;
    width: 48px;
    height: 10px;
    padding: 10px;
    transition: all 200ms;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
}

.burger::after {
    top: auto;
    bottom: 0;
    height: 3px;
}

.burger--click {
    transform: rotate(45deg);
    transition: all 200ms;
}

@media (max-width: 992px) {
    .header {
        padding: 24px 0;
    }

    .burger {
        display: block;
        z-index: 100;
        cursor: pointer;
    }

    .header__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        padding-top: 130px;
        height: 100vh;
        background-color: var(--header-list-bcgr);
        text-align: center;
        transform: translateY(-200%);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .header__list--active {
        transform: translateY(0);
        transition: all 0.4s;
    }

    .header__link {
        display: block;
    }
}