.team {
    padding: 123px 0 115px;
    background-color: #e7f1f8;
    color: var(--team-text);
}

.team__info {
    text-align: center;
}

.team__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    padding: 0 20px; 
    margin-bottom: 15px;
}

.team__img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}

.team__name {
    display: block;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
}

.team__position {
    display: block;
    margin-bottom: 33px;
    color: #30bae7;
    font-size: 16px;
    line-height: 18px;
}

.team__text {
    height: 120px;
    margin-bottom: 34px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.team-social__inner {
    display: flex;
    align-items: center;
}

.team-social__item+.team-social__item {
    margin-left: 12px;
}

.team-social__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background-color: #bdd1df;
    fill: #fff;
    border-radius: 50%;
}

.team-social__link:hover {
    background-color: #878787;
    fill: #77cfec;
    transition: all 200ms;
}

.icon--fb {
    height: 16px;
    width: 9px;
}

.icon--tw {
    height: 15px;
    width: 18px;
}

.icon--in {
    height: 18px;
    width: 16px;
}

.icon--email {
    height: 14px;
    width: 17px;
}

@media (max-width: 992px) {
    .team {
        padding: 60px 0;
    }
}

@media (max-width: 768px) {
    .team {
        padding: 30px 0;
    }

    .team__heading {
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .team__heading {
        line-height: 30px;
    }

    .team__img {
        margin-bottom: 20px;
    }

    .team__name {
        margin-bottom: 8px;
        font-size: 20px;
    }

    .team__position {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .team__text {
        font-size: 14px;
        line-height: 18px;
    }

    .team__text {
        margin-bottom: 15px;
    }
}